* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    font-family: "Roboto Light", Roboto, Arial, sans-serif;
    background-color: #282828;
    grid-template-areas:
    "nav main main main";
}

.sidenav {
    grid-area: nav;
    height: 100%;
    width: border-box;
    padding-top: 60px;
    margin:0;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}
.mainContent {
    grid-area: main;
    color: #fff;

    font-size: 18px;
    text-align: center;
}
.social {
    display: grid;
}
.social a{
    padding: 30px;
    text-decoration: underline #ffe800;
    color: #ffffff;
}
.gif {
    width: 100%;
}

.sidenav a:hover {
    color: #ffe800;
}

h1 {
    text-align: center;
    margin: 1.25rem 0 0.25rem 0;
    color: #ffe800;
}

.chart-container {
    position: relative;
    width: 45vw;
    margin: auto;
    padding: 0;
}

canvas {
    color: #fff;
}

.tableContent {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    padding-right: 40px;
    margin: 0;
}
table, tr,  th, td {
    border:1px solid #a2a2a2
}

